@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Khula&family=Krub&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

:root {
    --font0: 'Krub', sans-serif;
    --font1: 'Khula', sans-serif;
    --color0: #ffffff;
    --color1: #ADD6CC;
    --color2: #90b3aa;
}

header {
    margin: auto;
    text-align: center;
    max-width: 1900px;    
}

header > div#email {    
    display: inline-block;
    background-color: #418AA1;
    color: white;
    border-radius: 0 0 8px 8px;    
}

#email > h2 {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.09em;    
}

header > div#banner {
    
    height: 140px;
    width: auto;    
    margin: 60px 6vw;
    border-radius: 16px;
    background-attachment: scroll, scroll, fixed;
    background-image: url(../images/Nome_v1.png), url(../images/Estrelas_v1.png),url(../images/Logo_v3.png);
    background-position: center, center, top;
    background-size: 40%, 80%, contain;
    background-repeat: no-repeat;
}

header h1 {
    display: none;
}

/* --- Menu --- */

.menu {
  list-style: none;
  margin: 0;
  padding: 0;  
}

.menu li {
  position: relative;
  flex: 1;
  width: 120px;
  display: inline-block;
}

.menu li a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 20px;
  transition: all 0.2s ease-in-out; 
}

.menu li .anim {
  border-radius: 20px 20px 0 0 ;  
}

.menu li:hover > a {
  background-color: var(--color1);
  color: white;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  background-color: var(--color1);
  list-style: none;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  /* margin-top: -2px; */
  border-radius: 0 0 20px 20px;
  transition: all 0.2s ease-in-out; 
}

.menu li:hover > .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu li {
  position: relative;
}

.submenu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.submenu li:hover > a {
  background-color: var(--color2);
}

/* .menu li.active > a {
  background-color: #555;
} */

/* .submenu li.active > a {
  background-color: #777;
} */

/* Corpo */

main {
    margin: 30px;
}

/* Rodapé */

footer {
    padding: 30px;
    text-align: center;
    background-color: var(--color1);
    height: 300px;
}

#social > li {
    display: inline-block;
    margin: 0 8px;       
}

#social > li img {
    width: auto;
    height: 30px;
    line-height: 30px;
}

footer > p {
    margin: 30px;
}

footer a {
  text-decoration: none;
  color: rgb(27, 27, 27);
  font-weight: 600;
}